.detail_panel {
  :global .card {
    padding: 22px 15px;
  }

  &_header {
    margin-bottom: 30px;
  }

  &_table {
    :global .bigcapital-datatable {
      .thead,
      .tbody {
        .quantity,
        .cost,
        .value {
          text-align: right;
        }
      }
    }
  }
}
