
.root {
  align-items: center;
  border-radius: 0;
  box-shadow: 0 1px 0 rgba(17, 20, 24, .15);
  display: flex;
  flex: 0 0 auto;
  min-height: 55px;
  padding: 5px 5px 5px 20px;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

.title{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: #666;
}