

.root {
  position: relative;

  &.visible::before{
    background: rgba(255, 255, 255, 0.75);
    z-index: 2;
  }
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
  }
}