:root {
  --aside-topbar-offset: 60px;
}

.main{
  flex: 1 0;
  height: inherit;  
  overflow: auto;
}

.aside{
  width: 500px;
  height: 100dvh;
  border-left: 1px solid rgba(17, 20, 24, 0.15);
  height: inherit;
  overflow: auto;
}

.root {
  display: flex;
  height: calc(100dvh - var(--aside-topbar-offset));
}