.reference-number-form {

    .bp3-dialog-body {

        .paragraph {
            margin-bottom: 22px;
        }

        .bp3-control {
            margin-bottom: 16px;
        }
    }

    .bp3-dialog-footer {
        .bp3-button[type='submit'] {
            min-width: 80px;
        }
    }
}