:root {
  --aside-topbar-offset: 60px;
  --aside-width: 34%;
  --aside-min-width: 400px;
}

.main{
  flex: 1 0;
  height: inherit;  
  overflow: auto;
}

.aside{
  width: var(--aside-width);
  min-width: var(--aside-min-width);
  height: 100dvh;
  border-left: 1px solid var(--color-app-shell-divider);
  height: inherit;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.root {
  display: flex;
  height: calc(100dvh - var(--aside-topbar-offset));
}