.dialog--project-form {
  width: 650px;

  .bp3-dialog-body {
    .bp3-form-group {
      margin-bottom: 15px;
      margin-top: 15px;

      label.bp3-label {
        margin-bottom: 3px;
        font-size: 13px;
      }
    }
  

  }
  .bp3-dialog-footer {
    padding-top: 10px;
  }
}
