@import "./normalize.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

th {
    text-align: inherit; // 2
    text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
