.dialog--customer-opening-balance {
  max-width: 400px;

  .bp4-dialog-body {
    .bp4-form-group {
      margin-bottom: 15px;
      margin-top: 15px;

      label.bp4-label {
        margin-bottom: px;
        font-size: 13px;
      }
    }
  }

  .bp4-dialog-footer {
    padding-top: 10px;
  }
}
