
.dialog--journal-number-settings{

  .paragraph {
    margin-bottom: 20px;
  }
  .bp4-form-group{
    margin-bottom: 10px;
  }

  .bp4-dialog-footer-actions{
    .bp4-button{
      min-width: 75px;
    }
  }
}
