.dialog--contact-duplicate {
  .bp3-dialog-body {
    > .paragraph {
      margin-bottom: 1rem;
    }
    .bp3-form-group {
      margin-bottom: 1.4rem;

      .bp3-label {
        font-size: 13px;
      }
    }
    .bp3-button:not([class*='bp3-intent-']):not(.bp3-minimal) {
      width: 260px;
    }
  }

  .bp3-dialog-footer {
    .bp3-dialog-footer-actions .bp3-button {
      margin-left: 8px;
      min-width: 65px;
    }
  }
}
