
.financial-sheet{

  &--balance-sheet{
    .financial-sheet__table{

      .thead,
      .tbody{
        .tr .td.account_name ~ .td,
        .tr .th.account_name ~ .th{
          justify-content: flex-end;
        }
      }
      .tbody{
        .tr .td{
          border-bottom: 0;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
        .tr.row_type--total-row .td{
          border-top: 1px solid #BBB;
        }
        .tr.row_type--total-row.row_type--assets .td,
        .tr.row_type--total-row.row_type--liabilities_equity .td{
          border-bottom: 3px double #333;
        }
        .tr.row_type--total-row{
          .total.td,
          .account_name.td,
          .total-period.td{
            font-weight: 600;
            color: #333;
          }
        }

        .tr.is-expanded{
          .td.total,
          .td.total-period{
            > span.cell-text{
              display: none;
            }
          }
        }
      }
    }
  }
}