.financial-reports {
  padding: 20px 32px;

  .section-title {
    font-weight: 600;
    margin-bottom: 1.4rem;
    font-size: 18px;
    color: rgb(31, 50, 85);
    margin-top: 10px;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    margin-left: -20px;
  }
  &__item {
    width: 250px;
    min-height: 140px;
    margin-bottom: 16px;
    margin-left: 16px;
    border: 1px solid #d1dee2;
    border-top: 3px solid #d1dee2;
    background: #fff;
    padding: 18px;

    .title {
      font-size: 16px;
    }

    .desc {
      color: rgb(31, 50, 85);
      line-height: 1.55;
      margin-top: 8px;
      margin-bottom: 0;
    }
  }
}
