
.financial-sheet{

  &--journal{
    .financial-sheet__table{
      .tr .td.credit,
      .tr .th.credit,
      .tr .td.debit,
      .tr .th.debit{
        text-align: right;
      }
      .tbody{
        .tr:not(.no-results) .td{
          padding: 0.3rem 0.4rem;
          color: #000;
          border-bottom-color: transparent;
          min-height: 28px;
          border-left: 1px solid #ececec;

          &:first-of-type{
            border-left: 0;
          }
          &.account_name,
          &.reference_type_formatted{
            white-space: nowrap;
            overflow: hidden;
            text-overflow:ellipsis;
          }
        }
        .tr:not(.no-results):last-child{
          .td{
            border-bottom: 1px solid #dbdbdb;
          }
        }
        .tr.row_type--TOTAL_ENTRIES{
          font-weight: 600;
        }

      }
    }
  }
}

.financial-statement--journal{

  .financial-header-drawer{
    .bp3-drawer{
      max-height: 350px;
    }
  }
}
