# This is a production version of the Bigcapital docker-compose.yml file.

version: '3.3'

services:
  nginx:
    container_name: bigcapital-nginx-gateway
    build:
      context: ./docker/nginx
      args:
        - SERVER_PROXY_PORT=3000
        - WEB_SSL=false
        - SELF_SIGNED=false
    volumes:
      - ./data/logs/nginx/:/var/log/nginx
      - ./docker/certbot/certs/:/var/certs
    ports:
      - '${PUBLIC_PROXY_PORT:-80}:80'
      - '${PUBLIC_PROXY_SSL_PORT:-443}:443'
    tty: true
    depends_on:
      - server
      - webapp
    restart: on-failure

  webapp:
    container_name: bigcapital-webapp
    image: bigcapitalhq/webapp:latest
    restart: on-failure

  server:
    container_name: bigcapital-server
    image: bigcapitalhq/server:latest
    expose:
      - '3000'
    links:
      - mysql
      - mongo
      - redis
    depends_on:
      - mysql
      - mongo
      - redis
    restart: on-failure
    environment:
      # Mail
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_USERNAME=${MAIL_USERNAME}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_SECURE=${MAIL_SECURE}
      - MAIL_FROM_NAME=${MAIL_FROM_NAME}
      - MAIL_FROM_ADDRESS=${MAIL_FROM_ADDRESS}

      # Database
      - DB_HOST=mysql
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_CHARSET=${DB_CHARSET}

      # System database
      - SYSTEM_DB_NAME=${SYSTEM_DB_NAME}

      # Tenants databases
      - TENANT_DB_NAME_PERFIX=${TENANT_DB_NAME_PERFIX}

      # Authentication
      - JWT_SECRET=${JWT_SECRET}

      # MongoDB
      - MONGODB_DATABASE_URL=mongodb://mongo/bigcapital

      # Application
      - BASE_URL=${BASE_URL}

      # Agendash
      - AGENDASH_AUTH_USER=${AGENDASH_AUTH_USER}
      - AGENDASH_AUTH_PASSWORD=${AGENDASH_AUTH_PASSWORD}

      # Sign-up restrictions
      - SIGNUP_DISABLED=${SIGNUP_DISABLED}
      - SIGNUP_ALLOWED_DOMAINS=${SIGNUP_ALLOWED_DOMAINS}
      - SIGNUP_ALLOWED_EMAILS=${SIGNUP_ALLOWED_EMAILS}

      # Gotenberg (Pdf generator)
      - GOTENBERG_URL=${GOTENBERG_URL}
      - GOTENBERG_DOCS_URL=${GOTENBERG_DOCS_URL}

      # Bank Sync
      - BANKING_CONNECT=${BANKING_CONNECT}

      # Plaid
      - PLAID_ENV=${PLAID_ENV}
      - PLAID_CLIENT_ID=${PLAID_CLIENT_ID}
      - PLAID_SECRET_DEVELOPMENT=${PLAID_SECRET_DEVELOPMENT}
      - PLAID_SECRET_SANDBOX=${b8cf42b441e110451e2f69ad7e1e9f}
      - PLAID_LINK_WEBHOOK=${PLAID_LINK_WEBHOOK}

      # Lemon Squeez
      - LEMONSQUEEZY_API_KEY=${LEMONSQUEEZY_API_KEY}
      - LEMONSQUEEZY_STORE_ID=${LEMONSQUEEZY_STORE_ID}
      - LEMONSQUEEZY_WEBHOOK_SECRET=${LEMONSQUEEZY_WEBHOOK_SECRET}
      - HOSTED_ON_BIGCAPITAL_CLOUD=${HOSTED_ON_BIGCAPITAL_CLOUD}

      # New Relic matrics tracking.
      - NEW_RELIC_DISTRIBUTED_TRACING_ENABLED=${NEW_RELIC_DISTRIBUTED_TRACING_ENABLED}
      - NEW_RELIC_LOG=${NEW_RELIC_LOG}
      - NEW_RELIC_AI_MONITORING_ENABLED=${NEW_RELIC_AI_MONITORING_ENABLED}
      - NEW_RELIC_CUSTOM_INSIGHTS_EVENTS_MAX_SAMPLES_STORED=${NEW_RELIC_CUSTOM_INSIGHTS_EVENTS_MAX_SAMPLES_STORED}
      - NEW_RELIC_SPAN_EVENTS_MAX_SAMPLES_STORED=${NEW_RELIC_SPAN_EVENTS_MAX_SAMPLES_STORED}

      # OIDC
      - OIDC_LOGIN_DISABLED=${OIDC_LOGIN_DISABLED:-false}
      - OIDC_ISSUER=${OIDC_ISSUER}
      - OIDC_AUTHORIZATION_ENDPOINT=${OIDC_AUTHORIZATION_ENDPOINT}
      - OIDC_TOKEN_ENDPOINT=${OIDC_TOKEN_ENDPOINT}
      - OIDC_USERINFO_ENDPOINT=${OIDC_USERINFO_ENDPOINT}
      - OIDC_ENDSESSION_ENDPOINT=${OIDC_ENDSESSION_ENDPOINT}
      - OIDC_REVOCATION_ENDPOINT=${OIDC_REVOCATION_ENDPOINT}
      - OIDC_INTROSPECTION_ENDPOINT=${OIDC_INTROSPECTION_ENDPOINT}
      - OIDC_CLIENT_ID=${OIDC_CLIENT_ID}
      - OIDC_CLIENT_SECRET=${OIDC_CLIENT_SECRET}
      - OIDC_REDIRECT_URI=${OIDC_REDIRECT_URI}
      - OIDC_SCOPE=${OIDC_SCOPE}
      - OIDC_JWK_URI=${OIDC_JWK_URI}

      #CORS
      - CORS_ALLOWED_DOMAINS=${CORS_ALLOWED_DOMAINS}

  database_migration:
    container_name: bigcapital-database-migration
    build:
      context: ./
      dockerfile: docker/migration/Dockerfile
    environment:
      # Database
      - DB_HOST=mysql
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_CHARSET=${DB_CHARSET}
      - SYSTEM_DB_NAME=${SYSTEM_DB_NAME}
      # Tenants databases
      - TENANT_DB_NAME_PERFIX=${TENANT_DB_NAME_PERFIX}
    depends_on:
      - mysql

  mysql:
    container_name: bigcapital-mysql
    restart: on-failure
    build:
      context: ./docker/mariadb
    environment:
      - MYSQL_DATABASE=${SYSTEM_DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    volumes:
      - mysql:/var/lib/mysql
    expose:
      - '3306'

  mongo:
    container_name: bigcapital-mongo
    restart: on-failure
    build: ./docker/mongo
    expose:
      - '27017'
    volumes:
      - mongo:/var/lib/mongodb

  redis:
    container_name: bigcapital-redis
    restart: on-failure
    build:
      context: ./docker/redis
    expose:
      - '6379'
    volumes:
      - redis:/data

  gotenberg:
    image: gotenberg/gotenberg:7
    expose:
      - '9000'

# Volumes
volumes:
  mysql:
    name: bigcapital_prod_mysql
    driver: local

  mongo:
    name: bigcapital_prod_mongo
    driver: local

  redis:
    name: bigcapital_prod_redis
    driver: local
