.dialog--sms-message {
  width: 800px;

  .bp4-form-group {
    margin-bottom: 15px;

    label.bp4-label {
      font-size: 13px;
      margin-bottom: 6px;
    }
  }

  .form-group {
    &--message_text {
      .bp4-form-content {
        textarea {
          width: 100%;
          min-width: 100%;
          min-height: 90px;
          font-size: 14px;
        }
      }
    }
  }

  .bp4-dialog-footer {
    padding-top: 10px;
  }
}
