.root {
  --color-background: #fff;
  --color-border: #e1e2e8;
  --color-text: var(--color-dark-gray1);
  
  :global(.bp4-dark) & {
    --color-background: #c5cbd3;
    --color-border: rgba(255, 255, 255, 0.2);
  }
  min-height: 26px;
  border-radius: 15px;
  font-size: 13px;
  padding: 0 10px;

  &:global(.bp4-button:not([class*='bp4-intent-']):not(.bp4-minimal)) {
    background: var(--color-background);
    color: var(--color-text);
    border: 1px solid var(--color-border);

    & :global(.bp4-icon) {
      color: var(--color-text);
    }
  }
}
