.reference-number-form {

    .bp4-dialog-body {

        .paragraph {
            margin-bottom: 22px;
        }

        .bp4-control {
            margin-bottom: 16px;
        }
    }

    .bp4-dialog-footer {
        .bp4-button[type='submit'] {
            min-width: 80px;
        }
    }
}