
.root {
  flex: 1 1 auto;
  overflow: auto;
  padding-bottom: 60px;
}

.matchBar{
  padding: 12px 14px;
  background: var(--color-bank-transaction-matching-aside-header);
  border-bottom: 1px solid var(--color-bank-transaction-matching-divider); 
  
  &:not(:first-of-type) {
    border-top: 1px solid var(--color-bank-transaction-matching-divider); 
  }
}

.matchBarTitle {
  font-size: 14px;
  font-weight: 500;
}

.footer {
  background-color: var(--color-bank-transaction-matching-aside-footer);
}

.footerActions {
  padding: 14px 16px;
  border-top: 1px solid var(--color-bank-transaction-matching-divider);
}

.footerTotal {
  padding: 8px 16px;
  border-top: 1px solid var(--color-bank-transaction-matching-divider);
  line-height: 24px;
}
