.root {
  --item-background: #fff;
  --item-border: #d6dbe3;
  --item-active-border: #88abdb;
  --item-label-text: #252a33;
  --item-date-text: #5c7080;
  --item-border-hover: #c0c0c0;
  
  :global(.bp4-dark) & {
    --item-background: var(--color-dark-gray3);
    --item-border: rgba(255, 255, 255, 0.2);
    --item-date-text: var(--color-light-gray1);
    --item-label-text: var(--color-light-gray4);    
    --item-border-hover: rgba(255, 255, 255, 0.45);
  }
  background: var(--item-background);
  border-radius: 5px;
  border: 1px solid var(--item-border);
  padding: 10px 16px;
  cursor: pointer;

  &.active {
    border-color: var(--item-active-border);
    box-shadow: 0 0 0 2px rgba(136, 171, 219, 0.2);

    .label,
    .date {
      color: rgb(21, 82, 200);
    }
  }
  &:hover:not(.active) {
    border-color: var(--item-border-hover);
  }
}

.checkbox:global(.bp4-control.bp4-checkbox) {
  margin: 0;
}
.checkbox:global(.bp4-control.bp4-checkbox) :global .bp4-control-indicator {
  box-shadow: 0 0 0 1px #cbcbcb;
}
.checkbox:global(.bp4-control.bp4-checkbox) :global .bp4-control-indicator {
  margin-right: 4px;
  margin-left: 0;
  height: 16px;
  width: 16px;
}

.checkbox:global(.bp4-control.bp4-checkbox)
  :global
  input:checked
  ~ .bp4-control-indicator {
  box-shadow: 0 0 0 1px #0069ff;
}

.label {
  color: var(--item-label-text);
  font-size: 15px;
}
.label :global strong {
  font-weight: 500;
  font-variant-numeric: tabular-nums;
}

.date {
  font-size: 12px;
  color: var(--item-date-text);
}
