.authentication-insider {
  width: 384px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;

  &__logo-section {
    text-align: center;
    margin-bottom: 61px;
  }

  &__content {
    position: relative;
  }

  &__footer {
    .auth-copyright {
      text-align: center;
      font-size: 12px;
      color: #666;

      .bp3-icon-bigcapital {
        margin-top: 9px;

        svg {
          path {
            fill: #a3a3a3;
          }
        }
      }
    }
  }
}

.authentication-page {
  &__goto-bigcapital {
    position: fixed;
    margin-top: 40px;
    margin-left: 40px;
    color: #777;
  }

  .bp3-input {
    min-height: 40px;
    border: 1px solid #ced4da;
  }
  .bp3-form-group {
    margin-bottom: 25px;

    &.bp3-intent-danger {
      .bp3-input {
        border-color: #eea9a9;
      }
    }
  }

  .bp3-form-group.has-password-revealer {
    .bp3-label {
      display: flex;
      justify-content: space-between;
    }

    .password-revealer {
      .text {
        font-size: 12px;
      }
    }
  }

  .bp3-button.bp3-fill.bp3-intent-primary {
    font-size: 16px;
  }

  &__label-section {
    margin-bottom: 29px;
    color: #555;

    h3 {
      // font-weight: 500;
      font-weight: 400;
      // font-size: 28px;
      font-size: 22px;
      // color: #444;
      color: #555555;
      margin: 0 0 12px;
    }

    a {
      text-decoration: underline;
      color: #0040bd;
    }
  }

  &__form-wrapper {
    width: 100%;
    // max-width: 415px;
    // padding: 15px;
    margin: 0 auto;
  }

  &__footer-links {
    padding: 9px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 1.2rem;

    a {
      color: #0052cc;
    }
  }

  &__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(252, 253, 255, 0.5);
    display: flex;
    justify-content: center;
  }

  &__submit-button-wrap {
    margin: 0px 0px 24px 0px;

    .bp3-button {
      background-color: #0052cc;
      min-height: 45px;
    }
  }

  // Login Form
  // ------------------------------
  .login-form {
    // width: 690px;
    // margin: 0px auto;
    // padding: 85px 50px;

    .checkbox {
      &--remember-me {
        margin: -4px 0 28px 0px;
        font-size: 14px;
      }
    }
  }

  // Register Form
  .register-form {
    width: 690px;
    margin: 0px auto;
    padding: 85px 50px;

    &__agreement-section {
      margin-top: -10px;

      p {
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 24px;
        line-height: 1.65;
      }
    }

    &__submit-button-wrap {
      margin: 25px 0px 25px 0px;

      .bp3-button {
        min-height: 45px;
        background-color: #0052cc;
      }
    }
  }

  .send-reset-password {
    .form-group--crediential {
      margin-bottom: 36px;
    }
  }
  .invite-form {
    &__statement-section {
      margin-top: -10px;
      p {
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 1.65;
      }
    }

    .authentication-page__loading-overlay {
      background: rgba(252, 253, 255, 0.9);
    }
  }
}
