

.authentication-insider {
  width: 384px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 80px;

  &__logo-section {
    text-align: center;
    margin-bottom: 60px;
  }

  &__content {
    position: relative;
  }

  &__footer {
    .auth-copyright {
      text-align: center;
      font-size: 12px;
      color: #666;

      .bp3-icon-bigcapital {
        margin-top: 9px;

        svg {
          path {
            fill: #a3a3a3;
          }
        }
      }
    }
  }
}


.authTransition{

  &-enter {
    opacity: 0;
  }
  
  &-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
  
  &-enter-done {
    opacity: 1;
  }
  
  &-exit {
    opacity: 1;
  }
  
  &-exit-active {
    opacity: 0.5;
    transition: opacity 250ms ease-in-out;
  }
  &-exit-active {
    opacity: 0;
    display: none;
  }
 
}
 

.authentication-page {
  &__goto-bigcapital {
    position: fixed;
    margin-top: 30px;
    margin-left: 30px;
    color: #777;
  }

  .bp3-input {
    min-height: 40px;
  }
  .bp3-form-group {
    margin-bottom: 25px;
  }

  .bp3-form-group.has-password-revealer {
    .bp3-label {
      display: flex;
      justify-content: space-between;
    }

    .password-revealer {
      .text {
        font-size: 12px;
      }
    }
  }

  .bp3-button.bp3-fill.bp3-intent-primary {
    font-size: 16px;
  }

  &__label-section {
    margin-bottom: 30px;
    color: #555;

    h3 {
      font-weight: 500;
      font-size: 22px;
      color: #2d2b43;
      margin: 0 0 12px;
    }

    a {
      text-decoration: underline;
      color: #0040bd;
    }
  }

  &__form-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  &__footer-links {
    padding: 9px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    margin-bottom: 1.2rem;

    a {
      color: #0052cc;
    }
  }

  &__loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(252, 253, 255, 0.5);
    display: flex;
    justify-content: center;
  }

  &__submit-button-wrap {
    margin: 0px 0px 24px 0px;

    .bp3-button {
      background-color: #0052cc;
      min-height: 45px;
    }
  }

  // Login Form
  // ------------------------------
  .login-form {
    // width: 690px;
    // margin: 0px auto;
    // padding: 85px 50px;

    .checkbox {
      &--remember-me {
        margin: -6px 0 26px 0px;
        font-size: 14px;
      }
    }
  }

  // Register form
  // ----------------------------
  .register-form {

    &__agreement-section {
      margin-top: -10px;

      p {
        font-size: 13px;
        margin-top: -10px;
        margin-bottom: 24px;
        line-height: 1.65;
      }
    }

    &__submit-button-wrap {
      margin: 25px 0px 25px 0px;

      .bp3-button {
        min-height: 45px;
        background-color: #0052cc;
      }
    }
  }

  // Send reset password
  // ----------------------------
  .send-reset-password {
    .form-group--crediential {
      margin-bottom: 36px;
    }
  }

  // Invite form.
  // ----------------
  .invite-form {

    &__statement-section {
      margin-top: -10px;

      p {
        font-size: 13px;
        margin-bottom: 20px;
        line-height: 1.65;
      }
    }

    .authentication-page__loading-overlay {
      background: rgba(252, 253, 255, 0.9);
    }
  }
}
