.billing-form {
  padding: 25px 45px;
  width: 800px;
  margin: 0 auto;

  .billing-section{
    margin-bottom: 30px;
  }

  .paragraph + .billing-form__plan-container{
    margin-top: 20px;
  }

  &__plan-container {
    display: flex;
    flex-flow: row wrap;

    .plan-wrapper {
      display: flex;
      flex-direction: column;
      width: 215px;
      height: 267px;
      border-radius: 5px;
      padding: 15px;
      border: 1px solid #dcdcdc;
      background: #fcfdff;
      text-decoration: none;
      color: #000;
      cursor: pointer;

      &.plan-wrapper:not(:first-child) {
        margin-left: 20px;
      }

      .plan-header {
        display: flex;
        justify-content: flex-start;
      }
      .plan-name {
        background: #3657ff;
        border-radius: 3px;
        padding: 2px 8px 2px 8px;
        font-size: 13px;
        color: #fff;
        margin-bottom: 16px;
        height: 21px;
      }
      .plan-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.8rem;

        &.plan-description ul {
          list-style: none;
        }
      }
      .plan-price {
        margin-top: auto;

        .amount {
          font-weight: 500;
        }

        .period {
          font-weight: 400;
          color: #666;
          &.period::before {
            content: '/';
            display: inline-block;
            margin: 0 2px;
          }
        }
      }
    }
    a.plan-selected {
      border: 1px solid #0069ff;
      background-color: #fcfdff;
    }
  }

  .paragraph + .payment-method-continer{
    margin-top: 20px;
  }

  .payment-method-continer {
    margin-bottom: 30px;

    .period-container {
      display: inline-flex;
      background-color: #fcfdff;
      justify-content: space-between;
      align-items: center;
      width: 215px;
      height: 36px;
      border-radius: 5px;
      padding: 8px 10px;
      color: #000;
      border: 1px solid #dcdcdc;
      cursor: pointer;
      text-decoration: none;
      &.period-container:not(:first-child) {
        margin-left: 20px;
      }
      .period::before {
        content: '/';
        display: inline-block;
        margin: 0 2px;
      }
      .bg-period {
        font-size: 14px;
        font-weight: 500;
      }
    }
    a.billing-selected {
      border: 1px solid #0069ff;
      background-color: #fcfdff;
    }
  }

  .license-container {

    .form-group-license_code{
      margin-top: 20px;
    }

    .bp3-form-content {
      .bp3-input-group {
        display: block;
        position: relative;
      }
      .bp3-input {
        position: relative;
        width: 59%;
        height: 41px;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
      color: #444444;
    }
    p {
      margin-top: 15px;
      font-size: 14px;
    }
  }

  .bp3-tab-list {
    border-bottom: 2px solid #f1f1f1;
    width: 95%;
  }
  .subscribe-button {
    .bp3-button {
      background-color: #0063ff;
      min-height: 41px;
      width: 240px;
      // width: 25%;
    }
  }
}
