.dialog--currency-form {
  .bp3-dialog-body {
    .bp3-form-group.bp3-inline {
      .bp3-label {
        min-width: 140px;
      }
      .bp3-form-content {
        width: 250px;
      }
    }
  }
}
