

.page-form--customer{
  $self: '.page-form';
  padding: 20px;

  #{$self}__header{
    padding: 0;
  }
  #{$self}__primary-section{
    padding: 10px 0 0;
    margin: 0 0 20px;
    overflow: hidden;
    border-bottom: 1px solid #e4e4e4;
    max-width: 1000px;
  }

  .bp3-form-group{
    max-width: 500px;

    .bp3-control{
      margin-top: 8px;
      margin-bottom: 8px;
    }

    &.bp3-inline{

      .bp3-label{
        min-width: 150px;
      }
    }
    .bp3-form-content{
      width: 100%;
    }
  }

  .form-group--contact_name{
    max-width: 600px;

    .bp3-control-group > *{
      flex-shrink: unset;

      &:not(:last-child) {
        padding-right: 10px;
      }
      &.input-group--salutation-list{
        width: 25%;
      }
      &.input-group--first-name,
      &.input-group--last-name{
        width: 37%;
      }
    }
  }

  .bp3-form-group{
    margin-bottom: 14px;
  }

  .bp3-tab-panel{
    margin-top: 26px; 
  }

  .form-group--phone-number{

    .bp3-control-group > *{
      flex-shrink: unset;
      padding-right: 5px;
      padding-left: 5px;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        padding-right: 0;
      }
    }
  }

  #{$self}__tabs{
    margin-top: 20px;
    max-width: 1000px;

    h4{
      font-weight: 500;
      color: #888;
      margin-bottom: 1.2rem;
      font-size: 14px;
    }
    // Tab panels.
    .tab-panel{

      &--address{
        .bp3-form-group{
          max-width: 440px;

          &.bp3-inline{
            .bp3-label{
              min-width: 145px;
            }
          }

          .bp3-form-content{
            width: 100%;
          }

          textarea.bp3-input{
            max-width: 100%;
            width: 100%;
            min-height: 50px;
          }
        }
      }
      &--note{
        .form-group--note{
          .bp3-form-group{
            max-width: 600px;
          }
          textarea{
            width: 100%;
            min-height: 100px;
          }
        }
      }
    }

    .dropzone-container{
      max-width: 600px;
    }
  }

  .bp3-tabs{
    .bp3-tab-list{
      position: relative;

      &:before{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #F0F0F0;  
      }

      > *:not(:last-child){
        margin-right: 25px;
      }

      &.bp3-large > .bp3-tab{
        font-size: 15px;
        color: #555;

        &[aria-selected="true"],
        &:not([aria-disabled="true"]):hover{
          color: $pt-link-color;
        }
      }
    }
  }

  #{$self}__floating-actions {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.dashboard__insider--customers-list{

  .bigcapital-datatable{

    .avatar.td{

      .avatar{
        height: 30px;
        width: 30px;
        display: inline-block;
        background: #f3e2f6;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #93639a;
      }
    }
  }
}
