

.dashboard{
  display: flex;
  height: 100vh;

  &:before{
    content: "";
    height: 1px; 
    background: #01194e;
    position: fixed;
    top: 0;
    width: 100%;
  }
 
  &__topbar{
    width: 100%;
    min-height: 66px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F2EFEF;

    &-right,
    &-left{
      display: flex;
    }
    &-actions{
      
    }
    &-sidebar-toggle{
      display: flex;
      align-items: center;
      margin-left: 2px;

      .#{$ns}-button{
        color: #6B8193;

        &,
        &:hover,
        &:focus{
          border-radius: 0;
          box-shadow: none;
          background-color: transparent;
          border: 0;
        }
      }
    }

    &-navbar{
      display: flex;
      align-items: center;
      margin-right: 4px;

      .#{$ns}-button{
        color: #1552C8;
        font-weight: 5000;
        font-size: 14px;

        &:hover,
        &:focus{
          background-color: rgba(178, 220, 253, 0.15);
        }
        .#{$ns}-icon{
          color: #1552C8;
          margin-right: 5px;
        }
      }

      .bp3-navbar-divider{
        margin: 0 8px;
      }
    }

    &-user{
      display: flex;
      align-items: center;
      margin-right: 14px;

      .bp3-button:not([class*="bp3-intent-"]):not(.bp3-minimal){
        padding: 0;
        background-size: contain;
        background-color: #EED1F2;
        border-radius: 50%;
        height: 35px;
        width: 35px;

        .user-text {
          font-size: 12px;
          color: #804f87;
        }
        &,
        &:hover,
        &:focus{
          background-color: #EED1F2;
          border: 0;
          box-shadow: none;
        }
      }
    }
  }

  &__breadcrumbs{
    display: flex;
    margin-left: 16px;
    align-items: center;

    // Breadcrumbs component.
    .#{$ns}-breadcrumbs-collapsed{
      background: $light-gray3;

      &:hover{
        background: $light-gray2;
      }
      &::before{
        background: escape-svg($breadcrumbs-collapsed-icon) center center;
        width: 15px;
        height: 15px;
      }
    }
  }

  &__actions-bar{
    border-bottom: 2px solid #EAEAEA;

    .#{$ns}-navbar{
      box-shadow: none;
      padding-left: 12px;
      padding-right: 12px;

      &,
      &-group{
        height: 42px;
      }

      .#{$ns}-navbar-divider{
        margin-left: 0;
        margin-right: 0;
      }
      .#{$ns}-button{
        color: #4d4d4d;
        padding: 8px 12px;

        &:hover{
          background: rgba(167, 182, 194, 0.12);
          color: #4d4d4d;
        }
        &.bp3-minimal:active,
        &.bp3-minimal.bp3-active{
          background: rgba(167, 182, 194, 0.12);
          color: #4d4d4d;
        }

        &.has-active-filters{
          &,
          &.bp3-active,
          &:active{
            background: #eafbe4;
          }
        }
        .#{$ns}-icon{
          color: #4d4d4d;
          margin-right: 7px;
        }
        &.#{$ns}-minimal.#{$ns}-intent-danger{
          color: #c23030;

          &:hover,
          &:focus{
            background: rgba(219, 55, 55, 0.1);
          }
        }

        &.button--blue-highlight{
          background-color: #ebfaff;

          &:hover,
          &:focus{
            background-color: darken(#ebfaff, 2.5%);
          }
        }

        &.button--gray-highlight{
          background-color: rgba(127, 189, 255, 0.1);
        }
      }

      .button--table-views{
        .#{$ns}-icon{
          color: #1183DA;
        }
        .#{$ns}-button-text{
          margin-right: 2px;
        }
        .#{$ns}-icon-caret-down{
          margin-right: 0;
        }
      }
    }
  }

  &__breadcrumbs{
    display: flex;
    align-items: center;
    margin-left: 1rem;
  }

  &__title{
    align-items: center;;
    display: flex;
    margin-left: 4px;

    h1{
      font-size: 26px;
      font-weight: 300;
      color: #050035;
      margin: 0;
    }
    h3{
      border-left: 1px solid #d9d9d9;
      padding-left: 10px;
      font-size: 16px;
      font-weight: 300;
      color: #777;
      margin: 0 0 0 12px;
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .button--view-edit{

      svg{
        color: #929699;
      }

      &:hover,
      &:focus{
        svg{
          color: #5c7080;
        }
      }
    }
  }

  &__subtitle{
    
  }
  &__insider{
    margin-bottom: 40px;
  }

  &-content{
    display: flex;
    flex-direction: column;
    height: 100%;

    .sidebar--mini-sidebar + &{
      margin-left: 50px;
      width: calc(100% - 50px);
    }
  }

  &__insider{
    
    &--loading{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  }

  &__page-content{

    .bigcapital-datatable{

      .table{
        .thead,
        .tbody{
          .th.selection,
          .td.selection{
            padding-left: 14px;
          }
        }
      }
    }

    .dashboard__loading-indicator{
      padding-top: 150px;
    }
  }

  &__preferences-topbar{
    border-bottom: 1px solid #E5E5E5;
    height: 70px;
    padding: 0 0 0 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 22px;
      font-weight: 300;
      margin: 0;
      color: #555;
    }
  }

  &__footer{
    margin-top: auto;
    padding: 8px 0;
    border-top: 1px solid #ececec;
    
    .footer-links{
      text-align: center;

      > div{
        font-size: 12px;
        margin-right: 20px;
        display: inline;

        a{
          color: #8c8c8c;

          &:hover{
            color: $blue2;
          }
        }
      }      
    }
  }
}

.tabs--dashboard-views{

  .#{$ns}-tab{
    color: #5b606d;
    font-size: 14px;
    line-height: 50px;
    font-weight: 400;
    padding: 0;
    margin-right: 0;
    padding-left: 14px;
    padding-right: 14px;

    &[aria-selected='true'] {
      color: #0052cc;
    }
  }

  .#{$ns}-tab-indicator-wrapper{
    .#{$ns}-tab-indicator{
      height: 2px;
    }
  }

  .button--new-view{
    margin: 0;
    height: 50px;

    &,
    &:hover,
    &:active,
    &:focus{
      background: transparent;
      border: 0;
      box-shadow: 0 0 0;
    }

    .#{$ns}-icon{
      color: #A7A7A7;
    }
  }
}

.navbar--dashboard-views{
  box-shadow: 0 0 0;
  border-bottom: 1px solid #EAEAEA;
}

.navbar-omnibar{
  -webkit-filter: blur(0);
  filter: blur(0);
  opacity: 1;
  top: 20vh;
  left: calc(50% - 250px);
  z-index: 21;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.1),
    0 4px 8px rgba(16, 22, 26, 0.2),
    0 18px 46px 6px rgba(16, 22, 26, 0.2);
  background-color: #fff;
  width: 500px;
}


.menu--logged-user-dropdown{

  .menu-item--profile{

    .org{
      font-size: 12px;
      color: #777;
    }    
  }
}