


.financial-statement{

  &__header{
    padding: 25px 26px 25px;
    background: #FDFDFD;

    &.is-hidden{
      display: none;
    }

    .bp3-form-group,
    .radio-group---accounting-basis{
      
      .bp3-label{
        font-weight: 500;
        font-size: 13px;
        color: #444;
      }
    }
    .bp3-button.button--submit-filter{
      min-height: 34px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .radio-group---accounting-basis{
      .bp3-label{
        margin-bottom: 12px;
      }
    }
  }

  &__body{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header.is-hidden + .financial-statement__body{
    border-top: 20px solid #FDFDFD;

    .financial-sheet{
      margin-top: 40px;
    }
  }
}

.financial-sheet{
  border: 1px solid #EEE;
  min-width: 640px;
  width: auto;
  padding: 30px 20px;
  max-width: 100%;
  margin: 15px auto 35px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  &__title{
    margin: 0;
    font-weight: 200;
    font-size: 22px;
    color: #222;
    text-align: center;
  }
  &__sheet-type{
    text-align: center;
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #666;
    margin-top: 6px;
  }
  &__date{
    text-align: center;
    color: #888;
    margin-top: 6px;
  }
  &__table{
    margin-top: 24px;

    .table{
      .tbody,
      .thead{
        .tr .td,
        .tr .th{
          background: #fff;
        }
      }
      .tbody{
        .code.td{
          color: #777;
        }
      }
      .tr.no-results{
        .td{
          flex-direction: column;
          padding: 20px;
          color: #666;
          align-items: center;
        }
      }
    }
  }

  &__inner{
    &.is-loading{
      display: none;
    }
  }
  &__basis{
    color: #888;
    text-align: center;
    margin-top: auto;
    padding-top: 16px;
    font-size: 12px;
  }
  .dashboard__loading-indicator{
    margin: 60px auto 0;
  }

  &--expended{
    width: auto;
  }
  &--trial-balance{
    min-width: 720px;
  }
  &--general-ledger{
    .table .tbody{
     
      .tr.row-type{

        &--opening_balance,
        &--closing_balance{
          background-color: #fbfbfb;
        }

        &--closing_balance .td{
          border-bottom-color: #666;
        }

        &--account_name .td.name{
          font-weight: 500;
        }
      }
    }
  }

  &--general-ledger,
  &--journal{
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-color: #EEEDED;
  }
  &--journal{
    .financial-sheet__table{
      .tbody{
        .tr:not(.no-results) .td{
          padding: 0.4rem;
          color: #444;
          border-bottom-color: #F0F0F0;
          min-height: 32px;
          border-left: 1px solid #F0F0F0;

          &:first-of-type{
            border-left: 0;
          }
          &.account_code{
            color: #666;
          }
        }
      }
    }
  }

  &--profit-loss-sheet{

    .financial-sheet__table{
      .tbody{
        .account_code.td{
          color: #666;
        }
        
        .row--income_total,
        .row--expense_total,
        .row--net_income{
          font-weight: 600;

          .total.td{
            border-bottom-color: #555;
          }
        }
      }
    }
  }
}