// .form-group-display-columns-by{
//   position: relative;
// }


.bigcapital-datatable{
 
  &--financial-report{
    .table {
      .thead{
        .tr .th{
          background: transparent;
          border-top: 1px solid #666;
          border-bottom: 1px solid #666;
  
          padding: 8px 0.4rem;
          color: #222;
        }
      }
    }  
  }
}



.financial-statement--journal{


  .financial-header-drawer{
    .bp3-drawer{
      max-height: 350px;
    }
  }
}