.form-group-display-columns-by{
  position: relative;
}


.financial-statement{

  &__header{
    padding: 25px 26px 25px;
    background: #FDFDFD;

    &.is-hidden{
      display: none;
    }

    .bp3-form-group,
    .radio-group---accounting-basis{
      
      .bp3-label{
        font-weight: 500;
        font-size: 13px;
        color: #444;
      }
    }
    .bp3-button.button--submit-filter{
      min-height: 34px;
      padding-left: 16px;
      padding-right: 16px;
    }
    .radio-group---accounting-basis{
      .bp3-label{
        margin-bottom: 12px;
      }
    }
  }

  &__body{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header.is-hidden + .financial-statement__body{
    .financial-sheet{
      margin-top: 40px;
    }
  }
}

.financial-sheet{
  border: 2px solid #F1F1F1;
  border-radius: 10px;
  min-width: 640px;
  width: auto;
  padding: 30px 18px;
  max-width: 100%;
  margin: 15px auto 35px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  &__title{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #464646;
    text-align: center;
  }
  &__sheet-type{
    text-align: center;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #666;
    margin-top: 6px;
  }
  &__date{
    text-align: center;
    color: #666;
    margin-top: 6px;
  }
  &__table{
    margin-top: 24px;

    .table{
      .tbody,
      .thead{
        .tr .td,
        .tr .th{
          background: #fff;
        }
      }

      .tr.no-results{
        .td{
          flex-direction: column;
          padding: 20px;
          color: #666;
          align-items: center;
        }
      }
    }
  }

  &__inner{
    &.is-loading{
      display: none;
    }
  }
  &__basis{
    color: #888;
    text-align: center;
    margin-top: auto;
    padding-top: 16px;
    font-size: 12px;
  }
  .dashboard__loading-indicator{
    margin: auto;
    padding: 0;
  }

  &--expended{
    width: auto;
  }
  &--trial-balance{
    min-width: 720px;

    .financial-sheet__table{
      .tbody{
        .balance.td{
          border-bottom-color: #000;
        }
      }
    }
  }
  &--general-ledger{
    .financial-sheet__table{
      .tbody{     
        .tr.row-type{

          &--opening_balance,
          &--closing_balance{
            .td{
              background-color: #fbfbfb;
            }
          }

          &--closing_balance .td{
            border-bottom-color: #666;
          }

          &--account_name .td.name{
            font-weight: 500;
          }
        }
      }
    }
  }

  &--general-ledger,
  &--journal{
  
  }
  &--journal{
    .financial-sheet__table{

      .tbody{
        .tr:not(.no-results) .td{
          padding: 0.4rem;
          color: #000;
          border-bottom-color: #DDD;
          min-height: 32px;
          border-left: 1px dotted #DDD;

          &:first-of-type{
            border-left: 0;
          }
        }
      }
    }
  }

  &--profit-loss-sheet{

    .financial-sheet__table{
      .tbody{
        .total.td {
          border-bottom-color: #000;
        }
        
        .row--income_total,
        .row--expense_total,
        .row--net_income{
          font-weight: 600;

          .total.td{
            border-bottom-color: #555;
          }
        }
      }
    }
  }

  &--balance-sheet{
    .financial-sheet__table{
      .tbody{
        .total.td{
          border-bottom-color: #000;
        }
        .tr.row_type--total_row{
          .total.td,
          .account_name.td{
            font-weight: 600;
            color: #333;
          }
        }

        .tr.is-expanded{
          .td.total,
          .td.total-period{
            > span{
              display: none;
            }
          }
        }
      }
    }
  }

  &--receivable-aging-summary{

    .financial-sheet__table{
      .tbody{
        .row-type--total{
          font-weight: 600;

          .td{
            background-color: #fafbff;
            border-bottom-color: #666;
            border-bottom-style: dotted;
          }          
        }
      }
    }    
  }

  &--minimal{
    border: 0;
    padding: 0;
    margin-top: 20px;

    .financial-sheet{
      &__title{
        font-size: 18px;
        color: #333;
      }
      &__title + .financial-sheet__date{
        margin-top: 8px;
      }
      &__table{
        margin-top: 20px;
      }
    }
  }

  &.is-full-width{
    width: 100%;
  }
}


.financial-reports{
  padding: 20px 25px;

  .section-title{
    font-weight: 500;
    margin-bottom: 1.6rem;
    font-size: 20px;
    color: rgb(31, 50, 85);
    margin-top: 10px;
  }

  &__list{
    display: flex;
    flex-flow: wrap;
    margin-left: -20px;
  }

  &__item{
    width: 270px;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid #d1dee2;
    border-top: 3px solid #d1dee2;
    padding-top: 16px;
    background: #fff;
    padding: 20px;

    .title{
      font-size: 16px;
    }

    .desc{
      color: rgb(31, 50, 85);
      line-height: 1.55;
      margin-top: 12px;
      margin-bottom: 0;
    }
  }
}