@font-face {
  font-family: Noto Sans;
  src: local('Noto Sans'), url('../fonts/NotoSans-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Noto Sans;
  src: local('Noto Sans'), url('../fonts/NotoSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Noto Sans;
  src: local('Noto Sans'), url('../fonts/NotoSans-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Noto Sans;
  src: local('Noto Sans'), url('../fonts/NotoSans-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

// arabic regular
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

// arabic black
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Black.woff') format('woff');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

// arabic Bold
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

// arabic ExtraBold
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-ExtraBold.woff') format('woff');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

//arabic light
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Light.woff') format('woff');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

//arabic ExtraLight
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-ExtraLight.woff') format('woff');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

//arabic Medium
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

//arabic SemiBold
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

//arabic Thin
@font-face {
  font-family: Noto Sans Arabic;
  src: local('Noto Sans'),
    url('../fonts/NotoSansArabicUI-Thin.woff') format('woff');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
