
.dialog--invite-form {
  &.bp3-dialog {
    width: 450px;
  }
  &:not(.dialog--loading) .bp3-dialog-body {
    margin-bottom: 25px;
  }
  .bp3-dialog-body {
  
    .bp3-dialog-footer-actions {
      margin-right: 30px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

