


.item-form{
  padding: 22px;
  padding-bottom: 90px;

  &__primary-section{
    background-color: #FAFAFA;
    padding: 40px 22px 22px;
    margin: -22px -22px 22px;
    background-color: #FAFAFA;
  }
  &__accounts-section{
    h4{
      margin: 0;
      font-weight: 500;
      margin-bottom: 20px;
      color: #828282;
    }
    > div:first-of-type{
      padding-right: 15px !important;
    }

    > div ~ div{
      padding-left: 15px !important;
      border-left: 1px solid #e8e8e8;
    }
  }

  .#{$ns}-form-group{
    .#{$ns}-label{
      width: 130px;
    }

    .#{$ns}-form-content{
      width: 250px;
    }    
  }

  .form-group--item-type,
  .form-group--item-name{
    
    .#{$ns}-form-content{
      width: 350px;
    }  
  }
}