.make-journal-entries {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 25px 27px 20px;
    background: #fbfbfb;

    .bp3-form-group {
      .bp3-label {
        font-weight: 500;
        font-size: 13px;
        color: #444;
      }
    }
  }

  &__table {
    
  }

  .bp3-button {
    &.button--clear-lines {
      background-color: #fcefef;
    }
  }
  .button--clear-lines,
  .button--new-line {
    padding-left: 14px;
    padding-right: 14px;
  }

  .dropzone-container {
    margin-left: auto;
  }

  .dropzone {
    width: 300px;
    height: 75px;

    margin-right: 20px;
  }
}


.dialog--journal-number-settings{

  .paragraph {
    margin-bottom: 20px;
  }
  .bp3-form-group{
    margin-bottom: 10px;
  }

  .bp3-dialog-footer-actions{
    .bp3-button{
      min-width: 75px;
    }
  }
}

.dashboard__insider{

  &--make-journal-page{
    background: #fff;
  }
}