

.dashboard__insider--manual-journals{

  .bigcapital-datatable{

    .thead{

    }

    .tbody{
      .amount > span{
        font-weight: 600;
      }
      .note{
        .bp3-icon{
          color: #666;
        }
        .bp3-tooltip-indicator{
          cursor: initial;
          border-bottom: 0;
        }
      }
      .status{
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}