.number-format {
  width: 400px;
  padding: 12px;
  //    width: 300px;
  //    padding: 10px;
  &__content {
    .bp3-form-group {
      margin-bottom: 5px;
      // margin-bottom: 0px;
      .bp3-form-content {
        .bp3-label {
          margin-bottom: 3px;
        }
        .bp3-control {
          margin: 5px 0px 0px;
        }
      }
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
