.dashboard__insider--payment-made{
  background-color: #FFF;
}

.page-form--payment-made {
  $self: '.page-form';

  #{$self}__header{
    .bp3-label{
      min-width: 160px;
    }
    .bp3-form-content{
      width: 100%;
    }

    .bp3-form-group{
      margin-bottom: 18px;

      &.bp3-inline{
        max-width: 470px; 
      }
      a.receive-full-amount{
        font-size: 12px;
        margin-top: 6px;
        display: inline-block;
      }
    }
  }

  #{$self}__primary-section{
    display: flex;
    padding-bottom: 2px;
  }

  #{$self}__big-numbers{
    margin-left: auto;
    padding-right: 10px;
  }

  .datatable-editor{
    
    .table .tbody{
      .tr.no-results{
        .td{
          font-size: 15px;
          padding: 26px 0;
          color: #5a5a77;
        }
      }
    }

    .table{
      .tr{
        .td:first-of-type,
        .th:first-of-type{
          span, div{
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }

  #{$self}__footer{
    .form-group--statement{
      max-width: 500px;
      width: 100%;

      textarea{
        width: 100%;
        min-height: 70px;
      }
    }
  }
}