.dashboard-content--preferences {
  flex-direction: row;
  flex: 1 0 0;
  min-width: auto;
  background-color: #fbfbfb;
}
.dashboard {
  &__preferences-content {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
  }
}
.preferences-page {
  &__inside-content {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--tabable {
      margin-left: -25px;
      margin-right: -25px;
    }

    .card{
      margin: 15px;
    }
    .bigcapital-datatable{

      .table .tbody .tbody-inner > .loading{
        padding: 30px 0;
      }
    }
  }
  &__inside-content {
    .#{$ns}-tab-list {
      border-bottom: 1px solid #e5e5e5;
      padding-left: 15px;
      padding-right: 15px;
      align-items: baseline;

      .#{$ns}-tab {
        font-weight: 400;
        line-height: 44px;
        font-size: 15px;
      }
    }
  }

  &__tabs-extra-actions {
    margin-left: auto;
  }
}

.preferences-page {
  display: flex;
  flex: 1 0 0;

  &__content {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    margin-left: 220px;

    .dashboard__card {
      margin: 15px;
      flex: 1 0 0;
    }
  }
}

// Preferences topbar.
// -----------------------------
.preferences-topbar {
  border-bottom: 1px solid #d2dde2;
  min-height: 60px;
  flex: 60px 0 0;
  padding: 0 0 0 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  &__title {
    h2 {
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      color: #48485b;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 14px;

    .bp3-button:not([class*='bp3-intent-']):not(.bp3-minimal) {
      padding: 0;
      background-size: contain;
      background-color: #eed1f2;
      border-radius: 50%;
      height: 35px;
      width: 35px;

      .user-text {
        font-size: 12px;
        color: #804f87;
      }
      &,
      &:hover,
      &:focus {
        background-color: #eed1f2;
        border: 0;
        box-shadow: none;
      }
    }
  }

  &__actions {
    margin-left: auto;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e5e5e5;

    .bp3-button + .bp3-button {
      margin-left: 10px;
    }
  }
}

// Preferences sidebar.
// -----------------------------
.preferences-sidebar {
  background: #e5eaee;
  border-right: 1px solid #c6d0d9;
  min-width: 220px;
  max-width: 220px;
  height: 100%;
  position: fixed;

  &__wrapper {
    height: 100%;
  }

  .ScrollbarsCustom-Track {
    &.ScrollbarsCustom-TrackY,
    &.ScrollbarsCustom-TrackX{
      background: rgba(0, 0, 0, 0);
    }
  }
  .ScrollbarsCustom-Thumb{
    &.ScrollbarsCustom-ThumbX,
    &.ScrollbarsCustom-ThumbY {
      background: rgba(0, 0, 0, 0);
    }
  }

  &:hover {
    .ScrollbarsCustom-Thumb{
      &.ScrollbarsCustom-ThumbX,
      &.ScrollbarsCustom-ThumbY {
        background: rgba(0, 0, 0, 0.15);
      }      
    }
  }

  &__head {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 0 22px;

    h2 {
      font-size: 22px;
      color: #48485b;
      font-weight: 400;
      margin: 0;
    }
  }

  &__menu {
    padding: 0;
    background: transparent;

    .#{$ns}-menu-item {
      padding: 10px 18px;
      font-size: 15px;
      font-weight: 400;
      color: #333;

      &:hover,
      &.#{$ns}-active {
        background-color: rgba(255, 255, 255, 0.5);
        color: #333;
      }
    }
  }
}

//  General page
//---------------------------------
.preferences-page__inside-content--general {
  .card {
    padding: 25px;

    .card__footer {
      padding-top: 16px;
      border-top: 1px solid #e0e7ea;
      margin-top: 30px;

      .bp3-button {
        min-width: 60px;

        + .bp3-button{
          margin-left: 10px;
        }
      }
    }
  }

  .bp3-form-group {
    max-width: 550px;

    .bp3-label {
      min-width: 180px;
    }

    .bp3-form-content {
      width: 100%;
    }
  }
}

// Users/Roles List.
// ---------------------------------
.preferences-page__inside-content--users{

  .bigcapital-datatable {

    .td{
      .avatar{
        height: 28px;
        width: 28px;
        text-align: center;
        background: #b7bfc6;
        border-radius: 50%;
        line-height: 28px;
        color: #fff;
        text-transform: uppercase;
        margin-left: 10px;
      }
    }
    .td.status {
      text-transform: uppercase;
    }

    .tr:last-child .td{
      border-bottom: 0;
    }
  }
}

// Currencies List.
// ---------------------------------
.preferences-page__inside-content--currencies{

  .bigcapital-datatable {

    .tr:last-child .td{
      border-bottom: 0;
    }
  }
}

// Accountant.
// ---------------------------------
.preferences-page__inside-content--accountant {
  .card {
    padding: 25px;

    .card__footer {
      padding-top: 16px;
      border-top: 1px solid #e0e7ea;
      margin-top: 30px;

      .bp3-button {
        min-width: 60px;

        + .bp3-button{
          margin-left: 10px;
        }
      }
    }
  }

  .form-group--select-list{

    button{
      min-width: 250px;
    }
  }

  .bp3-form-group {
    
    .bp3-form-helper-text{
      margin-top: 7px;
    }

    label.bp3-label {
      margin-bottom: 7px;
    }
  }
}