
.form-group--select-list.bp3-fill{

  .bp3-popover-wrapper{
    &,
    .bp3-popover-target{
      width: 100%;
    }
  
    .bp3-button{
      width: 100%;
      justify-content: space-between;
      color: #333;
    }
  }
}

.form-group--select-list{

  .bp3-popover-open{

    .bp3-button{
      border-color: #80bdff;
    }
  }
}

.bp3-button:not([class*="bp3-intent-"]):not(.bp3-minimal){
  min-width: 32px;
  min-height: 32px;
  background-color: #E6EFFB;
  color: #555555;
  box-shadow: 0 0 0 transparent;

  .form-group--select-list &{
    border-radius: 0;

    &,
    &:hover{
      background: #fff;
      box-shadow: 0 0 0 transparent;  
      border: 1px solid #ced4da;
    }
  }
}

.bp3-button{

  &.bp3-intent-primary,
  &.bp3-intent-success,
  &.bp3-intent-danger,
  &.bp3-intent-warning{

    &,
    &:hover{
      box-shadow: 0 0 0 transparent;
    }    
  }
}

.button--secondary{
  
}