.dashboard__insider--customers-list {
  .bigcapital-datatable {
    .tbody {
      .tr .td {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }

      .avatar.td {
        .avatar {
          --x-color-background: #adbcc9;
          --x-color-text: #fff;
            
          .bp4-dark & {
            --x-color-background: rgba(255, 255, 255, 0.2);
            --x-color-text: #fff;
          }
          display: inline-block;
          background: var(--x-color-background);
          border-radius: 50%;
          text-align: center;
          font-weight: 400;
          color: var(--x-color-text);

          &[data-size='medium'] {
            height: 30px;
            width: 30px;
            line-height: 30px;
            font-size: 14px;
          }
          &[data-size='small'] {
            height: 25px;
            width: 25px;
            line-height: 25px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
