.bigcapital-loading {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;

  .center {
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .text {
    margin-top: 12px;
    opacity: 0.85;
    display: none;
  }
}
