.details-menu {
  margin: 15px;

  &--vertical {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d2dce2;
  }

  &--horizontal {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    padding: 10px;

    .detail-item {
      display: flex;
      align-items: center;
      &__label {
        flex-basis: 25%;
        color: #666666;
        font-weight: 500;
      }
    }
  }

  &.is-vertical {
  }

  .detail-item {
    flex: 0 0 25%;
    line-height: 1.3rem;
    &__label {
      color: #666666;
      font-weight: 500;
    }

    &__content {
      text-transform: capitalize;
      margin: 5px 0;
    }
  }
}
