.bp3-drawer {


  .bp3-drawer-header {
    margin-bottom: 2px;
    background-color: #FFF;

    .bp3-heading {
      font-weight: 500;
    }

    .bp3-heading,
    .bp3-icon {
      color: #354152;
    }
  }
}