.dashboard__insider--expense-form {
  padding-bottom: 64px;
  .bigcapital-datatable {

    .tbody {
      .tr .td.total_amount {
        span {
          font-weight: 600;
        }
      }
    }
  }
}

.page-form--expense {
  $self: '.page-form';

  #{$self}__header {
    display: flex;

    &-fields {
      flex: 1 0 0;
    }

    .bp4-label {
      min-width: 140px;
    }

    .bp4-form-content {
      width: 100%;
    }

    .bp4-form-group {
      margin-bottom: 18px;

      &.bp4-inline {
        max-width: 440px;
      }
    }
  }

  .datatable-editor--expense-form {


    .table {

      .tbody {
        .tr .td {


          &.landed-cost {

            .bp4-control {
              margin-top: 0;
              margin-left: 34px;
            }

            .bp4-control-indicator {
              height: 18px;
              width: 18px;
              border-color: #e0e0e0;
            }
          }
        }
      }
    }
  }

  .form-group--description {
    max-width: 500px;

    textarea {
      min-height: 60px;
      width: 100%;
    }
  }
}