.dashboard__insider--estimate-form{
  background-color: #FFF;
}

.page-form--estimate {
  $self: '.page-form';

  #{$self}__header {
    display: flex;

    &-fields {
      flex: 1 0 0;
    }

    .bp3-label {
      min-width: 140px;
    }
    .bp3-form-content {
      width: 100%;
    }

    .bp3-form-group {
      margin-bottom: 18px;

      &.bp3-inline {
        max-width: 440px;
      }
    }
    .col--invoice-date {
      max-width: 435px;
    }
  }

  #{$self}__footer {
    .form-group--customer_note,
    .form-group--terms_conditions {
      max-width: 450px;
      width: 100%;

      textarea {
        width: 100%;
        min-height: 60px;
      }
    }
  }
}