

body.page-receipt-new,
body.page-receipt-edit{

  .dashboard__footer{
    display: none;
  }
}

.dashboard__insider--receipt-form{
  padding-bottom: 64px;
}

.page-form--receipt{
  $self: '.page-form';

  #{$self}__header{
    display: flex;

    &-fields{
      flex: 1 0 0;
    }
    .bp3-label{
      min-width: 140px;
    }
    .bp3-form-content{
      width: 100%;
    }
    .bp3-form-group{
      margin-bottom: 18px;

      &.bp3-inline{
        max-width: 450px; 
      }
    }
  }

  #{$self}__footer{
    .form-group--receipt_message,
    .form-group--statement{
      max-width: 450px;
      width: 100%;

      textarea{
        width: 100%;
        min-height: 50px;
      }
    }
  }
}