.demoButton {
  width: 100%;
  margin-bottom: 2rem;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgb(255, 255, 255, 0.2);
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(255, 255, 255, 0.3);   
  }
}
.demoButtonLabel{
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}