

.account-drawer {
  
  .card-header{
    margin: 15px;
    padding: 22px 15px;
  }

  &__content-header {
    
    .detail-item{
      flex-grow: 1;

      .big-number {
        font-size: 28px;
        color: #c06361;
        margin: 6px 0;
        font-weight: 600;
        margin-bottom: 0;
      }

      &--account-normal{

        .bp4-icon{
          position: relative;
          top: -2px;
          margin-left: 2px;
  
          svg{
            fill: #6a7994;
          }
        }
      }
    }
  }
}