#page-size {
  margin: 0 auto;
  background-color: transparent;
  width: 680px;
  // width: 21cm;
  // height: 29.7cm;
  padding-bottom: 20px;
}

.template {
  background-color: transparent;
  margin: 25px 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 35px 20px 5px;
    &--title h1 {
      font-weight: 600;
      color: #1c4587;
      margin: 0;
    }
    &--title p {
      color: #666666;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #1155cc;
    padding: 2px 2px 30px;
    &__info {
      flex: 0 1 22%;
      padding-left: 5px;
      color: #999999;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6rem;
      margin-bottom: 10px;

      .info-paragraph-amount {
        margin-top: 8px;
        color: #123163;
        font-size: 26px;
        font-weight: 500;
      }

      .info-paragraph {
        font-size: 15px;
        color: #000;
      }
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    margin: 5px 0px 20px 0px;

    .bigcapital-datatable {
      .table {
        font-size: 15px;
        color: #000;

        .thead .tr .th .resizer {
          display: none;
        }
        .thead .th,
        .tbody .tr .td {
          margin-bottom: 15px;
          background: transparent;
        }
        .thead .th {
          font-size: 16px;
          font-weight: 400;
          border-bottom: none;
          color: #1155cc;
          // padding-left: 1px;
        }
        .tbody .tr .td {
          font-size: 15px;
          padding: 10px;
          // padding-left: 1px;
          border-bottom: 1px solid #cecbcb;
        }
      }
    }
  }

  &__terms {
    padding: 0px 5px;
    &__title h4 {
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
    }
    ul li {
      color: #000;
      font-size: 14px;
    }
    ul li::before {
      content: '•';
      color: #b7b7b7;
      display: inline-block;
      width: 1em;
      margin-left: 0.7em;
    }
  }
}

.bp4-drawer.bp4-position-right {
  bottom: 0;
  right: 0;
  top: 0;
  overflow: auto;
  height: 100%;

  .bp4-drawer-header .bp4-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    flex: 1 1 auto;
    line-height: inherit;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #0d244a;
  }
}
