.dashboard__insider--manual-journals {
  .bigcapital-datatable {
    .thead {
    }

    .tbody {
      .tr .td{
        padding: 0.8rem 0.5rem;
      }
      .td.amount {
        .bp3-popover-target {
          border-bottom: 1px solid #e7e7e7;

          > span {
            font-weight: 600;
          }
        }
      }
      .note {
        .bp3-icon {
          color: #666;
        }
        .bp3-tooltip-indicator {
          cursor: initial;
          border-bottom: 0;
        }
      }
      .status {
        font-size: 13px;
      }
    }
  }
}
