
.root {
  flex: 1;
  min-width: 165px;
  max-width: 165px;
}

.content{
  padding: 5px;
  flex: 1;
  border-right: 1px solid var(--color-element-customize-divider);
}

.tabsList{
  width: 100%;
  flex: 1;

  :global .bp4-tab-list{
    flex: 1;
  }
}