
.root {
  align-items: center;
  border-radius: 0;
  box-shadow: 0 1px 0 var(--color-element-customize-divider);
  display: flex;
  flex: 0 0 auto;
  min-height: 55px;
  padding: 5px 5px 5px 20px;
  position: relative;
  background-color: var(--color-element-customize-header-background);
  z-index: 1;
}

.title{
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-element-customize-header-title-text);
}