
.root {
  text-align: center;
}

.title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #252A31;
}

.description{
  margin-bottom: 1rem;
  font-size: 15px;
  line-height: 1.45;
  color: #404854;
}