
.big-amount{
  --x-color-amount-text: #343463;
  --x-color-label-text: #5d6f90;

  --x-color-label-text: var(--color-light-gray1);
  --x-color-amount-text: var(--color-light-gray2);

  text-align: right;

  &__label{
    color: var(--x-color-label-text);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  &__number{
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    margin-top: 6px;
    color: var(--x-color-amount-text);
    line-height: 1;
    font-size: 34px;
  }
}