.hint {
  margin-left: 6px;
  position: relative;
  top: -1px;

  .bp3-icon {
    color: #a1b2c5;
  }

  .bp3-popover-target:hover .bp3-icon {
    color: #90a1b5;
  }
  .bp3-icon {
    vertical-align: middle;
  }
}
