

@keyframes skeleton-glow {
  0% {
    background: var(--color-skeleton-background-start);
    border-color: var(--color-skeleton-border-start);
  }
  to {
    background: var(--color-skeleton-background-end);
    border-color: var(--color-skeleton-border-end);
  }
}

.skeleton{
  animation: skeleton-glow 1s linear infinite alternate;
  background: var(--color-skeleton-background-start);
  background-clip: padding-box;
  border-color: var(--color-skeleton-border-start);
  border-radius: var(--color-skeleton-border-radius);

  box-shadow: none;
  color: transparent;
  cursor: default;
  pointer-events: none;
  user-select: none;
}