

.billing-page{
  padding: 0 60px;
  margin-top: 20px;
  max-width: 820px;

  .bp3-tab-list{
    border-bottom: 2px solid #d7e1e7;

    .bp3-tab[aria-disabled="true"]{
      color: rgba(92, 112, 128, 0.7);
    }
  }
  .plan-radio,
  .period-radio{
    background: #fff;
    border-color: #bbcad4;

    &.is-selected{
      background: #fff;
      border-color: #0269ff
    }
  }

}