.financial-sheet {

  &--customers-balance-summary,
  &--vendors-balance-summary {
    .financial-sheet__table {

      .thead,
      .tbody {

        .tr .td.customer_name~.td,
        .tr .th.customer_name~.th {
          text-align: right;
        }
      }

      .tbody {
        .tr:not(.no-results) {
          .td {
            border-bottom: 0;
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;
          }

          &.row-type--TOTAL {
            font-weight: 500;

            .td {
              border-top: 1px solid #bbb;
              border-bottom: 3px double #333;
            }
          }
        }
      }
    }
  }
}

.financial-statement--balance-summary {
  .financial-header-drawer {
    .bp4-drawer {
      // max-height: 350px;
      max-height: 415px;
    }
  }
}