

.number-format-dropdown{
  width: 300px;
  padding: 15px;

  .bp4-form-group{
    margin-bottom: 6px;

    label.bp4-label{
      font-size: 13px;
      margin-bottom: 4px;
      font-weight: 500;
    }
    .bp4-button{
      min-height: 28px;
      min-width: 28px;
    }
  }
  .bp4-control.bp4-inline{
    margin-bottom: 0;
    margin-top: 0;
  }
  .toggles-fields{
    margin-top: 14px;
  }
  &__footer{
    text-align: right;  
    padding-top: 10px;

    .bp4-button.bp4-small,
    .bp4-button:not([class*="bp4-intent-"]):not(.bp4-minimal).bp4-small{
      min-width: 65px;
      height: 26px;
      min-height: 26px;
    }
  }

  .bp4-control .bp4-control-indicator{
    height: 16px;
    width: 16px;
  }
}