.dialog--adjustment-item {
  .bp4-form-group {
    margin-bottom: 15px;

    label.bp4-label {
      font-size: 13px;
      margin-bottom: 3px;
    }
  }
  .form-group {
    &--adjustment-reasons {
      .bp4-form-content {
        textarea {
          width: 100%;
          min-width: 100%;
          font-size: 14px;
        }
      }
    }
    &--reference-no,
    &--adjustment-account {
      max-width: 270px;
    }
  }
  .adjustment-fields {
    padding-top: 16px;
    border-top: 2px solid #e9e9e9;
    margin-bottom: 18px;
    padding-bottom: 12px;
    border-bottom: 2px solid #e9e9e9;
    
    .bp4-input-group{

      .bp4-input{
        padding-left: 8px;
        padding-right: 8px;
      }
    } 

    .row {
      display: flex;
      flex-wrap: nowrap;
      margin-left: -0.3rem;
      margin-right: -0.3rem;

      .col {
        padding-left: 0.3rem;
        padding-right: 0.3rem;

        .bp4-form-group {
          margin-bottom: 0;
        }
        &--quantity-on-hand,
        &--quantity  {
          width: 120px;
        }
        &--sign {
          display: flex;
  
          span {
            margin-top: auto;
            margin-bottom: 12px;
          }
        }
        &--decrement,
        &--increment {
          width: 100px;
        }
        &--cost {
          width: 95px;
        }
      }
    }
  }

  .bp4-dialog-footer {
    padding-top: 10px;
  }
}
