
.setup-organization {
  width: 580px;
  margin: 0 auto;
  padding: 45px 0 20px;

  &__title-wrap {
    margin-bottom: 20px;

    h1 {
      margin-top: 0;
      margin-bottom: 10px;
      color: #565e6c;
    }
    .paragraph {
      opacity: 0.8;
    }
  }

  form {
    h3 {
      color: #4e5764;
      margin-bottom: 1.2rem;
      font-weight: 500;
    }
  }

  .bp3-form-group {
    margin-bottom: 24px;

    .bp3-input-group {
      .bp3-input {
        height: 38px;
      }

    }
    .bp3-input,
    .form-group--select-list .bp3-button{
      font-size: 15px;
    }
  }

  label.bp3-label{
    color: #313744;
  }

  .form-group--language {
    margin-left: 10px;
  }

  .bp3-button:not([class*='bp3-intent-']):not(.bp3-minimal) {
    width: 100%;
    height: 38px;
    padding: 8px;
  }

  .bp3-text-muted {
    color: #000000;
  }

  .register-org-note {
    font-size: 13px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 1.75rem;
    color: #666;
  }

  .register-org-button {
    .bp3-button {
      background-color: #0052cc;
      min-width: 175px;
      height: 40px;
      font-size: 15px;
    }
  }
}
