.setup-page {
  max-width: 1400px;

  &__right-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    &:before {
      content: '';
      display: block;
      width: 30%;
      height: 1px;
      min-width: 300px;
      max-width: 350px;
    }

    h1 {
      font-size: 22px;
    }
    h1,
    h3 {
      font-weight: 500;
      color: #6b7382;
    }
  }

  &__content {
    width: 70%;
    padding-bottom: 40px;
  }

  &__left-section {
    position: fixed;
    background-color: #01115e;
    overflow: auto;
    z-index: 1;
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    max-width: 350px;
    min-width: 300px;

    .content {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      padding: 25px;
      margin: 0px auto;
      border: none;
      height: 100%;

      &__logo {
        opacity: 0.65;
        margin-bottom: 60px;
        padding-left: 10px;
      }

      &__title {
        font-size: 26px;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 20px;
        margin-top: 14px;
        color: rgba(255, 255, 255, 0.75);
      }

      &__text {
        font-size: 16px;
        opacity: 0.75;
        margin-bottom: 10px;
      }

      &__organization {
        font-size: 16px;
        opacity: 0.75;

        span > a {
          text-decoration: underline;
          color: #ffffff;
          margin-top: 6px;
          display: inline-block;
        }
      }

      &__divider {
        height: 3px;
        width: 100px;
        background: rgba(255, 255, 255, 0.15);
        margin: 10px 0;
      }

      &__footer {
        margin-top: auto;
      }

      &__contact-info {
        font-size: 16px;
        margin-bottom: 20px;
        opacity: 0.75;
        padding-bottom: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
        p > span {
          unicode-bidi: plaintext;
        }
      }

      &__links {
        text-align: left;
        opacity: 0.55;

        > div {
          font-size: 13px;
          margin-right: 15px;
          display: inline;

          a {
            color: #fff;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.setup-page-steps {
  &-container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 0;
  }
  ul {
    display: flex;
  }
  li {
    position: relative;
    list-style-type: none;
    width: 25%;
    text-align: center;
    color: #333;
    font-size: 16px;

    &::before {
      width: 11px;
      height: 11px;
      content: '';
      line-height: 30px;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: #75859c;
    }
    &::after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #75859c;
      top: 5px;
      left: -50%;
      z-index: -1;
    }
    &:first-child::after {
      display: none;
    }
    &.is-active {
      &::before {
        background-color: #75859c;
      }
      ~ li {
        &:before,
        &:after {
          background: #ebebeb;
        }
      }
      p.wizard-info {
        color: #004dd0;
      }
    }
  }
}
