

.dashboard__insider--customers-list{

  .bigcapital-datatable{

    .avatar.td{

      .avatar{
        height: 30px;
        width: 30px;
        display: inline-block;
        background: #adbcc9;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}
