.dialog--invite-form {
  width: 450px;

  .bp4-dialog-body {
    .bp4-form-group.bp4-inline {
      .bp4-label {
        min-width: 70px;
      }
      .bp4-form-content {
        width: 250px;

        .bp4-dialog-footer-actions {
          margin-right: 20px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

.dialog--invite-user {
  .bp4-dialog-body {
    .bp4-form-group.bp4-inline {
      .bp4-label {
        min-width: 140px;
      }
      .bp4-form-content {
        width: 250px;
      }
    }
  }
}
