.dialog--user-form {
  width: 450px;

  .bp4-form-group {
    margin-bottom: 15px;
  }
  .bp4-dialog-body {
    margin-bottom: 30px;

    .bp4-form-group.bp4-inline {
      .bp4-label {
        min-width: 140px;
      }
      .bp4-form-content {
        width: 250px;
      }
    }
    .bp4-dialog-header {
      height: 170px;
    }
  }

  .bp4-callout {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .bp4-dialog-footer {
    .bp4-button {
      min-width: 75px;
    }
  }
}
