

.dialog--payment-via-voucher{
  
  .bp4-dialog-body{
    p{
      margin-bottom: 20px;
    }
    .form-group-license_code{
      margin-bottom: 30px;
    }
  }

  .bp4-dialog-footer-actions{ 
    button{
      min-width: 80px;

      &.bp4-intent-primary{
        min-width: 90px;
      }
    }
  }
}