.dialog--money-in,
.dialog--money-out {
  .bp3-form-group {
    margin-bottom: 15px;

    label.bp3-label {
      font-size: 13px;
      margin-bottom: 3px;
    }
  }
  .form-group {
    &--description {
      .bp3-form-content {
        textarea {
          width: 100%;
          min-width: 100%;
          font-size: 14px;
        }
      }
    }
    &--reference-no,
    &--amount,
    &--credit_account_id {
      max-width: 380px;
    }
  }

  .transaction-type-fields {
    margin-bottom: 18px;
    padding: 16px 0px 12px 0px;
    border-bottom: 2px solid #e9e9e9;
  }

  .bp3-dialog-footer {
    padding-top: 10px;
  }
}
