
.bigcapital-datatable{
 
  &--financial-report{
    .table {
      .tbody{

        .tr.no-results {
          .td{
            border-bottom: 1px solid #DDD;
          }
        }
      }
      .thead{
        .tr .th{
          background-color: #fff;
          border-top: 1px solid #666;
          border-bottom: 1px solid #666;
  
          padding: 8px 0.4rem;
          color: #222;
        }
      }
    }  
  }
}
