


.dashboard__insider--financial-report{

  .alert-compute-running{
    position: relative;
    padding: 8px 20px;
    border-radius: 2px;
    background-color: #fdecda;
    color: #342515;
    font-size: 13px;

    button{
      font-size: 12px;
      min-height: 16px;
      padding: 0 4px;

      &,
      &:hover{
        color: #824400;
        text-decoration: underline;
      }
    }
    svg{
      margin-right: 6px;
      position: relative;
      top: -2px;
      fill: #975f19;
    }
  }

  .financial-progressbar{
    .progress-materializecss{
      top: -2px;
    }
  }
}