.financial-sheet {
  &--general-ledger {
    .financial-sheet__table {

      .tbody,
      .thead {

        .tr .td,
        .tr .th {

          &.credit,
          &.debit,
          &.running_balance,
          &.amount {
            text-align: right;
          }
        }
      }

      .tbody {
        .tr .td {
          padding-top: 0.2rem;
          padding-bottom: 0.2rem;
          border-top-color: transparent;
          border-bottom-color: transparent;

          &.date {
            >div {
              display: flex;
            }

            span.force-width {
              position: relative;
            }
          }
        }

        .tr:not(.no-results) .td {
          border-left: 1px solid #ececec;
        }

        .tr:last-child .td {
          border-bottom: 1px solid #ececec;
        }

        .tr {
          &.is-expanded {

            .td.amount {

              .cell-inner {
                display: none
              }
            }
          }
        }

        .tr.row-type {


          &--ACCOUNT_ROW {
            .td {
              &.date {
                font-weight: 500;
              }

              &.name {
                border-left-color: transparent;
              }
            }

            &:not(:first-child).is-expanded .td {
              border-top: 1px solid #DDD;
            }
          }

          &--OPENING_BALANCE,
          &--CLOSING_BALANCE {
            .amount {
              font-weight: 500;
            }
          }

          &--CLOSING_BALANCE {
            .name {
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}