
.financial-sheet{
  &--profit-loss-sheet{
    .financial-sheet__table{
      .thead,
      .tbody{
        .tr .td:not(:first-child),
        .tr .th:not(:first-child) {
          text-align: right;
        }
      }
      .tbody{
        .tr .td{
          border-bottom: 0;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
        .tr.row_type--total{
          font-weight: 500;
        }
        .tr.row_type--section_total .td{
          border-top: 1px solid #BBB
        }
        .tr.row_type--section_total + .tr .td{
          border-top: 1px solid #666;
        }
        .tr.row_type--net_income_total.row_type--total .td{
          border-bottom: 3px double #333;
        }

        .tr.is-expanded{
          .td.total,
          .td.total-period{
            .cell-text{
              display: none;
            }
          }
        }
      }
    }
  }
}