.financial-sheet {
  &--sales-by-items,
  &--purchases-by-items,
  &--inventory-valuation {
    min-width: 800px;

    .financial-sheet__table {
      .thead,
      .tbody {
        .tr .td:not(:first-child),
        .tr .th:not(:first-child) {
          text-align: right;
        }
      }
      .tbody {
        .tr .td {
          border-bottom: 0;
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
        .tr.row_type--total .td {
          border-top: 1px solid #bbb;
          font-weight: 500;
          border-bottom: 3px double #000;
        }
      }
    }
  }
}

.financial-statement--sales-by-items,
.financial-statement--purchases-by-items {
  .financial-header-drawer {
    .bp3-drawer {
      // max-height: 400px;
      max-height: 415px;
    }
  }
}

.financial-statement--inventory-valuation {
  .financial-header-drawer {
    .bp3-drawer {
      max-height: 350px;
    }
  }
}
