body.page-warehouse-transfer-new,
body.page-warehouse-transfer-edit {
  .dashboard__footer {
    display: none;
  }
}

.dashboard__insider--warehouse-transfer-form {
  padding-bottom: 64px;
}

.page-form--warehouse-transfer {
  $self: '.page-form';

  #{$self}__header {
    display: flex;

    &-fields {
      flex: 1 0 0;
    }

    .bp4-label {
      min-width: 150px;
    }
    .bp4-form-content {
      width: 100%;
    }

    .bp4-form-group {
      &.bp4-inline {
        max-width: 450px;
      }
    }
    .col--date {
      max-width: 435px;
    }
  }

  #{$self}__footer {
    .form-group--reason {
      max-width: 450px;
      width: 100%;

      textarea {
        width: 100%;
        min-height: 60px;
      }
    }
  }
}
