.dialog--transaction--locking {
  max-width: 450px;

  .bp3-form-group {
    margin-bottom: 10px;
    margin-top: 10px;

    label.bp3-label {
      font-size: 13px;
      margin-bottom: 3px;
    }
  }

  .form-group {
    &--reason {
      .bp3-form-content {
        textarea {
          width: 100%;
          min-width: 100%;
          font-size: 14px;
        }
      }
    }
  }
  .bp3-dialog-footer {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
    margin-left: 10px;
  }
}
