
.financial-sheet{
  &--payable-aging-summary{

    .financial-sheet__table{

      .bigcapital-datatable{
        .tbody,
        .thead{
          .tr .td.vendor_name ~ .td,
          .tr .th.vendor_name ~ .th{
            text-align: right;
          }
        }
        .tbody{
          .tr:not(.no-results) {
            .td{
              border-bottom: 0;
              padding-top: 0.4rem;
              padding-bottom: 0.4rem;
            }
            &:not(:first-child) .td{
              border-top: 1px solid transparent;
            }
            &.row-type--total{
              font-weight: 500;
              
              .td{
                border-top: 1px solid #BBB;
                border-bottom: 3px double #333;
              }
            }
            
          }
        }
      }
    }    
  }
}