# environment variables
# WEB_REVERSE_PROXY_PORT ${WEB_REVERSE_PROXY_PORT}
server {
    listen 80 default_server;

    location / {
        proxy_pass http://node:${WEB_REVERSE_PROXY_PORT};
    }

    location /.well-known/acme-challenge/ {
        root /var/www/letsencrypt/;
        log_not_found off;
    }
}