.dashboard__insider--expenses {

  .bigcapital-datatable {

    .tbody {
      .tr .td.total_amount {
        span {
          font-weight: 600;
        }
      }
    }
  }
}

.page-form--expense {
  $self: '.page-form';

  #{$self}__header {
    display: flex;

    &-fields {
      flex: 1 0 0;
    }

    .bp3-label {
      min-width: 140px;
    }

    .bp3-form-content {
      width: 100%;
    }

    .bp3-form-group {
      margin-bottom: 18px;

      &.bp3-inline {
        max-width: 440px;
      }
    }
  }

  .datatable-editor--expense-form {


    .table {

      .tbody {
        .tr .td {


          &.landed-cost {

            .bp3-control {
              margin-top: 0;
              margin-left: 34px;
            }

            .bp3-control-indicator {
              height: 18px;
              width: 18px;
              border-color: #e0e0e0;
            }
          }
        }
      }
    }
  }

  .form-group--description {
    max-width: 500px;

    textarea {
      min-height: 60px;
      width: 100%;
    }
  }
}