#page-size {
  margin: 0 auto;
  // background-color: #ffffff;
  background-color: transparent;
  width: 21cm;
  height: 29.7cm;
  padding-bottom: 20px;
}

.template {
  background-color: transparent;
  // margin: 30px;
  margin: 20px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px 16px 0px;
    &--title h1 {
      font-weight: 600;
      color: #1c4587;
      margin: 0;
    }
    &--title p {
      color: #666666;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #1155cc;
    // padding-bottom: 40px;
    padding-bottom: 35px;

    &__info {
      flex: 0 1 25%;
      padding-left: 5px;
      color: #999999;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.6rem;
      margin-bottom: 10px;

      .info-paragraph-amount {
        margin-top: 8px;
        color: #123163;
        font-size: 26px;
        font-weight: 500;
      }

      .info-paragraph {
        font-size: 15px;
        color: #000;
      }
    }
  }

  &__table {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    margin: 5px 0px 20px 0px;
    font-size: 16px;

    &__rows {
      display: flex;
      margin-bottom: 15px;
      color: #1155cc;

      &--cell {
        flex: 0 20%;
      }
      &--cell-payment-receive {
        flex: 1;
      }

      &--cell:first-child {
        flex: 1 0 20%;
        padding-left: 5px;
      }
    }

    &__rows:not(:first-child) {
      color: #000;
      border-bottom: 1px solid #cecbcb;
      padding-bottom: 15px;
    }
  }

  &__terms {
    padding: 0px 5px;
    &__title h4 {
      font-size: 16px;
      font-weight: 400;
      color: #666666;
      margin-bottom: 5px;

      // font-size: 18px;
      // font-weight: 500;
    }

    ul {
      list-style: none;
    }
    ul li {
      color: #000;
      font-size: 14px;
    }
    ul li::before {
      content: '•';
      color: #b7b7b7;
      display: inline-block;
      width: 1em;
      margin-left: 0.7em;
    }
  }
}

.bp3-drawer.bp3-position-right {
  bottom: 0;
  right: 0;
  top: 0;
  overflow: auto;
  height: 100%;
  .bp3-drawer-header .bp3-heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    flex: 1 1 auto;
    line-height: inherit;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #0d244a;
  }
}
