.dialog--keyboard-shortcuts {
  .bigcapital-datatable {
    .table {
      max-height: 300px;
      border: 1px solid #d1dee2;
      min-width: auto;
      margin: 15px;
      .tbody,
      .thead .tr .td,
      .tr .th {
        background: #fff;
      }
      .tbody,
      .tbody-inner {
        height: 250px;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .tbody {
        .tr .td {
          padding: 0.4rem;
          margin-left: -1px;
          border-left: 1px solid #ececec;
        }
      }
    }
  }
  &__footer {
    text-align: right;
    margin: 0px 15px;

    .bp4-button.bp4-small,
    .bp4-button:not([class*='bp4-intent-']):not(.bp4-minimal).bp4-small {
      min-width: 65px;
      height: 26px;
      min-height: 26px;
    }
  }
}
