.root {
  margin-top: 2.2rem
}

.content {
  flex: 1;
  padding: 32px 20px;
  padding-bottom: 80px;
  min-width: 660px;
  max-width: 760px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.form {
}