.table {
  width: 100%;
  margin-top: 1.4rem;

  th.label,
  td.label{
    width: 32% !important;
  }

  thead{
    th{
      border-top: 1px solid #d9d9da;
      padding-top: 8px;
      padding-bottom: 8px;
      color: #738091;
      font-weight: 500;
    }
  }
  
  tbody{
    tr td {
      vertical-align: middle;
    }

    tr td{
      :global(.bp4-popover-target .bp4-button){
        max-width: 250px;
      }
    }
  }
}