

.root{
  background: #fff;
  border: 1px solid #D3D8DE;
  border-radius: 5px;
  padding: 16px; 
}
.description{
  margin: 0;
  margin-top: 6px;
  color: #8F99A8;
}
.title{
  color: #5F6B7C;
  font-weight: 600;
  font-size: 14px;
}

.buttonWrap{
  flex: 25% 0;
  text-align: right;
}